
/*-- Main --*/

body {
    display: grid;
    grid-template-columns: 25em;
}

header,
footer {
    grid-column-start: 1;
    grid-column-end: 5;
}

/*-- Other Pgs --*/

/*-- Media Queries --*/

@media screen {
    
}