/*-- All --*/

body {
    display: grid;
}

/*-- Nav --*/

/* nav {
    justify-items: flex-end;
} */


/*-- Main --*/

header,
footer, 
.main,
.main--contact {
    grid-column-start: 1;
    grid-column-end: 5;
}


.menu {
    grid-column-start: 1;
    grid-column-end: 5;
} 

.div--schedule {
    grid-column-start: 1;
    grid-column-end: 3;
}

.div--cafe {
    grid-column-start: 3;
    grid-column-end: 5;
}


form {
    grid-column-start: 1;
    grid-column-end: 4;
}

/*-- Images --*/
.hero--image {
    height: calc(500px + 35vw);
}

.hero--content {
	margin-left: calc(40px + 4vw);
	margin-bottom: calc(60px + 3vw);
	/* make this a grid container as well */
	display: grid;
	justify-items:center;
    align-items: center;
	/* grid-gap: calc(22px + 1vw);  */
} 

.hero--text {
    display: grid;
    justify-items: center;
    align-items: center;
    /* justify-content: center;
    align-content: center; */
    /* text-align: center;*/
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* font-size: calc(21px + 1vw); */
}

.promo {
    display: grid;
    justify-items: center;
    align-items: center;
}

/*-- Media Queries --*/

/* @media only screen and (max-width: 600px) {
/* Tablets */
/*.div--schedule,
    .div--cafe {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    } */
