@media only screen and (min-width : 1024px) {

    h1 { 
        font-size: 8em; 
        line-height: 26.4px; 
    }
    
    h2 { 
        font-size: 3em; 
        line-height: 15.4px; 
    }


    /* Media query test.*/
    
    /* h1 {
        color: red;
    } */

/*----- Nav & Links -----*/
/* 
    nav > .nav-container > ul >li {
        width: auto;
    }

    nav > .nav-container > ul >li a {
        padding: .7rem 2rem;
    }

    .li--contact >li > a {
        font-size: 1.5em;
    }

    .li--contact >li {
        list-style: none;
    } */


/*----- Pages -----*/

/*- Main -*/

.sub--container {
    display: grid;
    grid-template-columns: auto auto;
}

.div--schedule > #main--schedule,
.div--cafe > #main--cafe {
    font-size: 2em; 
    line-height: 1.8rem;
}

/* .color--block {
    background:#F3F979;
    width:400px;
    height:350px;
    transform: skew(20deg);
    position:relative;
    bottom:200px;
    left:80px;
} */


/*- Schedule -*/

.schedule--container {
    display: grid;
    grid-template-columns: auto auto;
}


/*- About -*/

.about {
    display: grid;
    grid-template-columns: auto auto auto;
}


/*----- Footer -----*/

.lrg{
    width:25%;
}

.footer--info > .addy,
.footer--info > .social {
    display: grid;
    grid-template-columns: auto;
}


/*----- Buttons -----*/

.btn--menu,
.btn--schedule {
    margin-left: 3rem;
}


/*----- Images -----*/

/*- Main -*/

.schedule--pic,
.cafe--pic {
    max-width: 20em;
    max-height: 20em;
    position: relative;
    float:right;
}


/*- About -*/

/* .chicken--pic {
    display:grid;
    height: 30em;
    width: 25em;
    
} */

/*- Sheduling -*/

.promo--pic {
    height: 20rem;
    width: 25rem;
    margin-top: 150px;
    margin-left: 175px;
    position: relative;
}

} /* End of media query. */