@media only screen and (min-width : 1024px) {

    h1 { 
        font-size: 8em; 
        line-height: 26.4px; 
    }
    
    h2 { 
        font-size: 3em; 
        line-height: 15.4px; 
    }


    /* Media query test.
    
    /* h1 {
        color: red;
    } */

/*----- Nav & Links -----*/

    nav > div.nav-container > ul >li {
        width: auto;
    }

    nav > div.nav-container > ul >li a {
        padding: .7rem 2rem;
    }

    ul.li--contact >li > a {
        font-size: 1.5em;
    }

    ul.li--contact >li {
        list-style: none;
    }


/*----- Pages -----*/

/*- Main -*/

.sub--container {
    display: grid;
    grid-template-columns: auto auto;
}

.div--schedule > h2#main--schedule,
.div--cafe > h2#main--cafe {
    font-size: 2em; 
    line-height: 1.8rem;
}


/*- Schedule -*/

form {
    grid-column-start: 1;
    grid-column-end: 4;
}


/*- About -*/

.about {
    display: grid;
    grid-template-columns: auto auto auto;
}

.about--health {
    
}


/*----- Buttons -----*/




/*----- Images -----*/

/*- Main -*/
.schedule--pic,
.cafe--pic {
    max-width: 20em;
    max-height: 20em;
}


/*- About -*/

/* .chicken--pic {
    display:grid;
    height: 30em;
    width: 25em;
    
} */

/*- Sheduling -*/



} - End of media query -