/* Background color for all pgs =   */
/* Main font =  */

/* All Pgs */

*{
    /* Add fonts and colors in here. */
    background-color: OliveDrab;
}

/* Main */
/* Add grid gaps between the individual pg sections. */
body {
    display: grid;
    margin: 1em;  
}

div {
    row-gap: 1em;
    background-color: beige;
}

/* About */


/* Sheduling */

/* Contact */