@media only screen and (min-width : 768px) {

    /* Media query test.*/
    
    /* h1 {
        color: orange;
    }  */

/*----- Nav -----*/

/* #btn--burg {
    display: none;
} */


/*
.nav--container {
    display:grid;
    width: 100%;
}

nav > .nav--container > ul {
    display: block;
}

nav > .nav-container > ul > li {
    float: left;
    width: 25%;
}  */

/*----- Footer -----*/

.md {
    width: 50%;
}

.colu {
    float: left; 
    padding: 0 2vw; 
    margin: 0 0 .75rem 0;
}



/*----- Images -----*/

    /* .schedule-pic {
        max-width: 20em;
        max-height: 20em;
    }
    
    .cafe-pic {
        max-width: 20em;
        max-height: 20em;
    } */


} /*- End of media query -*/