
/*----- Primary Styles -----*/

* {
    color: rgb(248, 248, 241); 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
}

body {
    display: grid;
    /* grid-template-columns: auto; */
}

html,
body {
    margin: 0;
    body: 0;
}

.sm-12 {
    width:100%;
    /* height: 100%; */
}

h1,
h2 {
    font-family: Aubrey; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 550; 
}

h1 { 
    font-size: 8em; 
    line-height: 5.8rem; 
}

h2 { 
    font-size: 2.3em; 
    line-height: 2rem; 
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.main--container,
.sub--pg {
    background-image: linear-gradient(to bottom right, olivedrab, rgb(149, 209, 8));
}

.main--container {
    display: grid;
    width: 100%;
}

/* Testing media queries. 

/* h1 {
    color: yellow;
} */

/*----- Nav & Links -----*/

button#btn--burg {
    background:none;
    border:none;
    color:rgb(248, 248, 241);
    font-size: 2rem;
    font-weight: 5;
    cursor: pointer;
    padding: 10px 10px 0px 2vw;
}

nav {
    background-color:rgb(150, 221, 68);
}

nav > div.nav--container > ul {
    margin: 0px;
    padding: 0px;
}

nav > div.nav--container > ul > li {
    list-style-type: none;
}

nav > div.nav--container > ul > li > a {
    display: block;
    padding: 1rem 0;
    color:rgb(248, 248, 241);
    text-align: center;
    text-decoration: none;
}

nav > div.nav--container > ul > li.active {
    background-color: rgb(94, 92, 93);
}

nav a:hover {
    background-color:rgb(0, 0, 0, 0.2);
}

nav > div.nav--container > ul.open {
    display: block;
}

nav > div.nav--container > ul {
    display: none;
}

#home a:hover, 
.li--home a:hover, 
.footer--info > section.social > ul.li--contact > li > a:hover {
    color:rgb(233, 72, 8);
} 

section > ul.li--contact > li > a {
    text-decoration: none;
    }

section > ul.li--contact > li {
    margin: 0;
}

#home {
    font-size: 2rem;
    text-align: center;
}

/*----- Pages -----*/


/*- Main -*/

.div--main {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

.div--schedule,
.div--cafe {
    border-style: solid;
    border-width: 1px;
    margin: 1rem;
    padding: 18px;
    grid-column-start: auto;
}

.div--cafe > p,
.div--schedule > p {
    text-align: center;
}

#main--cafe,
#main--schedule {
    text-align: center;
}

#main--schedule,
.schedule--pic
#main--cafe,
.cafe--pic {
    margin-left: 5em;
}

#main--schedule {
    margin:0;
    justify-items: center;
}

/*- Scheduling -*/

form {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 30px;
    margin: 60px;
}

input, 
label {
    margin-left: 80px;
    margin-right: 80px;
}

input {
    margin-bottom: 8px;
    background:rgb(248, 248, 241);
    color:rgba(0, 0, 0, 0.5);
}

label {
    background: none;
}

small {
    background-color: rgb(121, 167, 14);
}


hr {
    width: 300px;
    border: 1px solid whitesmoke;
}

.promo {
    align-content: center;
    margin:2rem;
}


/*- Footer -*/

footer {
    background-color: rgb(150, 221, 68);
}

.footer--info {
    width: 100%;
    padding: 8px 10px;
    text-align: center;
}

.footer--info > p,
.footer--info > section.addy > h4,
.footer--info > section.addy > address,
.footer--info > section.addy > phone,
.footer--info > section.social > h4,
.footer--info > section.social > ul.li--contact > li > a {
    color:rgb(48, 46, 47);
}

.footer--info > section.social > ul.li--contact {
    list-style: none;
}

.footer--info > p {
    font-size: 15px;
}

/*- hr -*/

.footer--info > hr.addy--hr {
    width: 10px;
    margin-top: 15px;
    margin-bottom: 0;
    border: 1px solid orangered;

}

.footer--info > hr,
.div--main > hr {
    width: 150px;
    border: 1px solid whitesmoke;
}

.div--main > hr {
    margin-bottom: 25px;
}

/*----- Buttons -----*/

button,
#submit, 
.btn--schedule, 
.btn--menu {
    background-color: rgb(231, 132, 52);
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
}

button.btn--schedule > a, 
button.btn--menu > a, 
button.btn--sub > a,
button,
#submit {
    text-decoration: none;
    color:rgb(48, 46, 47);
    font-size: 20px;
    font-weight: bolder;
}

button:hover,
#submit:hover {
    background-color:rgb(233, 72, 8);
}

.btn--menu,
.btn--schedule {
    margin-left: 9rem;
}


/*----- Images -----*/

/*- Hero -*/

.index {
    background-image: linear-gradient(rgba(1, 0.8, 0.5, 0), rgba(0, 0, 0, 0.5)), 
    url("/images/chick_pic01.JPG");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero--image {
    height: calc(375px + 35vw);
}

.hero--text {
    background: none;
    display: grid;
    justify-items: center;
    margin-left: 3rem;
    margin-top:1em;
}


/*- Main Pg -*/

.schedule--pic,
.cafe--pic {
    max-width: 18em;
    max-height: 18em;
}

/*- Chick Pics -*/

.chicken--pic {
    display:grid;
    height: 18em;
    width: 12em;
    
}

.overlay {
    /* position:initial; */
    bottom: bottom;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Transparent effect. */
    color: #f1f1f1;
    width: 10.8em;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.chicken--info {
    margin: 10px;
}

.chicken--info:hover .overlay {
    opacity: 1;
}
/* Make sure the overlay resizes with the pics & try to get it on the 
bottom of the pic instead of the middle.*/

small,
.promo--pic,
.schedule--pic,
.cafe--pic,
.chicken--pic {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin:0;
    justify-items: center;
}

.promo {
    display: grid;
    justify-items: center;
    align-items: center;
}

.promo--pic {
    height: calc(65px + 40vw)
}


#menu--pic {
    max-width: 65em;
    max-height: 65em;
    margin: 25px;
    border-style: solid;
    border-width: 1px;
}