/* Background color for all pgs = OliveDrab */
/* Main font = TBD */
/* Add a seperate grid css pg? */


/* All Pgs */

*{
    background-color: olivedrab;
}

/* Main */
/* Add grid gaps between the individual pg sections. */

/* body {
    display: grid;
    margin: 1em;  
    background-color: olivedrab;
} */

/* div {
    row-gap: 1em;
/* Working with the shorthanded grid spans here. The goal is to have an image and the text with the 
button be 50/50. */
    /* grid-column: 1/1;
    background-color: beige;
} 
/* Expand header & footer to be as wide as aesthetically possible. 12 cols w/ a margin. */

/* About */


/* Sheduling */

/* Contact